*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: "inter";
    text-decoration: none;
}

nav.main{
    background: #34495e !important;
}

a.nt{
    color: white;
    font-weight: 700;
    font-size: 200%;
    margin-left: 4%;
}

a.nt:hover{
    color: white;
}

button.btn{
    color: #ecf0f1;
    border: 1px solid white;
    cursor: pointer;
    margin-right: 4%;
}

button.btn:hover{
    background: #7f8c8d9f;
    border: 1px solid #7f8c8d9f;
}

.input-group {
    margin-top: 2%;
    margin-left: 5%;
    width: 90%;
}

.input-group-text {
    background: #bdc3c7;
    width: 150px;
    font-size: 18px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.763);
}


.btn-2{
    position: relative;
    display: flex;
    float: right;
    color: rgba(0, 0, 0, 0.763);
    border: 1px solid #95a5a6;
    cursor: pointer;
    margin-right: 5%;
    padding: 6px;
    border-radius: 5px;
}

.btn-2:hover{
    background: #7f8c8d9f;
    border: 1px solid #7f8c8d9f;
}

