<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./nonteaching.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <title>Homepage</title>
</head>

<body>
    <nav class="navbar main bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand nt">HOMEPAGE</a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search Names" aria-label="Search">
      <button class="btn search btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>

<div id="container" class="ctnr">
    <button class="button">
        <span class="button_lg">
            <span class="button_sl"></span>
            <span class="button_text"><a href="/addnonteaching">Add name</a></span>
        </span>
    </button>

</div>

<table class="table main">
    <thead>
      <tr class="hd">
        <th scope="col" class="name main">Names</th>
        <th scope="col" class="vl">Vacation Leave</th>
        <th scope="col" class="sl">Sick Leave</th>
      </tr>
    </thead>
    <tbody>
      <% ntnames.map((names) => { %>
        <tr>
          <td class="name">
            <!-- <%= names.lastname +", "+ names.firstname +" "+ names.middlename +" "+ names.suffix %> -->
            <%= names.name %></td>
          <td class="vl"><button><a href="/nonteaching/<%= names._id %>">View</a></button></td>
          <td class="sl"><button>View</button></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</body>
</html>