<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="./vldata.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <title>Vacation Leave</title>
</head>
<body>
<nav class="navbar main bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand nt">VACATION LEAVE</a>
    <h1><%= ntnames.name %></h1>
      <button onclick="document.location='https://www.google.com/'" class="btn search btn-outline-success" type="submit">Return</button>
  </div>
</nav>
<div id="container" class="ctnr">
    <button onclick="document.location='https://www.facebook.com/'" class="button">
        <span class="button_lg">
            <span class="button_sl"></span>
            <span class="button_text">Add Leave</span>
        </span>
    </button>
</div>

<table class="table main">
    <thead>
      <tr class="header">
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Days</th>
        <th scope="col">Earned</th>
        <th scope="col">Abs w/pay</th>
        <th scope="col">Abs wo/Pay</th>
        <th scope="col">Balance</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>08-1-2023</td>
        <td>08-31-2023</td>
        <td>31 days</td>
        <td>1.25</td>
        <td>0</td>
        <td>0</td>
        <td>54</td>
      </tr>

      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
      </tr>

      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
      </tr>

      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
      </tr>
      
    </tbody>
  </table>
</body>
</html>