*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: "inter";
    text-decoration: none;
}

nav.main{
    background: #34495e !important;
}

a.nt{
    color: white;
    font-weight: 700;
    font-size: 200%;
}

a.nt:hover{
    color: white;
}

button.btn{
    color: #ecf0f1;
    border: 1px solid white;
    cursor: pointer;
}

button.btn:hover{
    background: #7f8c8d9f;
    border: 1px solid #7f8c8d9f;
}

table.main{
    justify-content: center;
    position: absolute;
    display: flexbox;
    width: 90%;
    left: 5%;
}

table thead tr th{
    background: #bdc3c7 !important;
    font-size: 20px;
    font-weight: bold;
}

tbody button{
    display: inline-block;
    padding: 8px 12px;
    border: 1px solid #4f4f4f;
    border-radius: 10px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    color: black;
    z-index: 1;
}
tbody button:before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}
tbody button:after{
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #39bda7;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}
tbody button:hover{
    color: #ffffff;
    border: 1px solid #39bda7;
}
tbody button:hover:before{
    top: -35%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
tbody button:hover:after{
    top: -45%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
tbody button:active{
    color: black;
}

td.vl, td.sl{
    width: 15%;
    position: relative;
}

td.name{
    display: flexbox;
    text-transform: capitalize;
    text-indent: 5%;
    font-size: 18px;
    font-weight: 500;
}

table thead tr th.name.main{
    text-align: center;
}

#container{
    position: relative;
    top: 3%;
    width: 90%;
    left: 5%;
    display: flex;
}

.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: #3498db;
    cursor: pointer;
    position: relative;
    margin-top: 3%;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: underline;
  }
  