/* * {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: "inter";
    text-decoration: none;
}

body {
    background-color: red !important;
}

nav.main{
    background: #34495e !important;
}

a.nt{
    color: white;
    font-weight: 700;
    font-size: 200%;
}

a.nt:hover{
    color: white;
}

button.btn{
    color: #ecf0f1;
    border: 1px solid white;
    cursor: pointer;
}

button.btn:hover{
    background: #7f8c8d9f;
    border: 1px solid #7f8c8d9f;
}

#container{
    position: relative;
    top: 3%;
    width: 90%;
    left: 5%;
    display: flex;
}

.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: #3498db;
    cursor: pointer;
    position: relative;
    margin-top: 3%;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: underline;
  }

/* TABLE */


table.main{
    justify-content: center;
    position: absolute;
    display: flexbox;
    width: 90%;
    left: 5%;
}

table thead tr th{
    background: #bdc3c7 !important;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    height: auto;
    width: 200px;
    text-align: center;

}

table tbody tr td{
    font-size: 18px;
    height: auto;
    width: 200px;
    text-align: center;

} */




  